.about{
  min-height: 100vh;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.img_box{
  width: 40%;
}
.skills_box{
  width: 60%;
}
.blob {
  width: 90%;
  margin: 1rem 0;
}
.img {
    margin: 2.5rem auto;
    width: 38.75rem;
    max-width: 100%;
  }
  .about .skills_container {
    display: block;
    width: 100%;
  }
  .about .skills {
    display: block;
    margin-top: 1.25rem;
  }
  .about .skills-title {
    color: var(--second-color);
    font-weight: normal;
    padding-bottom: 1.25rem;
    text-align: center;
  }
  .about .skills > div,
  .github {
    border-radius: 0.625rem;
    padding: 0.313rem;
    display: inline-flex;
    background-color: var(--second-bg-color);
    margin: 0.375rem;
    transition: 0.3s;
    box-shadow: var(--box-shadow);
  }
  .github {
    border: 1px solid var(--main-color);
    background-color: var(--bg-color);
  }
  .no-icon {
    margin: 0.313rem;
    font-size: 0.813rem;
  }
  .about .skills i {
    font-size: 1.375rem;
    padding-left: 0.313rem;
  }
  .about .skills p,
  a {
    color: var(--second-color);
    padding: 0 0.625rem;
    transform: translateY(0.188rem);
    font-size: 0.813rem;
  }
  .fa-html5 {
    color: #ff7f50;
  }
  .fa-css3-alt {
    color: #6495ed;
  }
  .fa-js-square {
    color: #eeff00;
  }
  .fa-git-alt {
    color: #df4d18;
  }
  .about .fa-github {
    color: #fff;
  }
  .fa-react {
    color: #44c9d3;
  }
  .fa-python {
    color: #1f6dd3;
  }
  .fa-bootstrap {
    color: #bf86ff;
  }

/*======More About Me======*/
.about_me {
    margin-top: 1.25rem;
  }
  .about-me-btn {
    display: grid;
    margin: 0.625rem auto;
    background-color: var(--second-bg-color);
    color: #df4d18;
    padding: 0.625rem;
    border-radius: 7px;
    border: var(--second-bg-color);
    font-size: 1.063rem;
    transition: 0.3s;
    box-shadow: var(--box-shadow);
  }
  .about-me-btn:hover,
  .github:hover {
    transform: scale(1.1);
  }
  #text {
    width: 95%;
    margin: 0.625rem auto;
    padding-bottom: 3.125rem;
    color: var(--second-color);
    line-height: 1.4;
    opacity: 0;
    height: 0;
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -ms-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7 ease-in-out;
  }
  #text.fade {
    opacity:1;
    height: fit-content;
  }
  @media screen and (max-width: 1200px) {
    .about_me p {
      font-size: 0.875rem;
    }
    .skills {
      margin-top: 0;
    }
    .skills > div {
      padding: 0.188rem;
      margin: 0.188rem;
    }
  }
  @media screen and (max-width: 1200px){
    .about .box_container {
      display: block;
    }
    .img_box,.skills_box{
      width: 100%;
    }
    .about .blob {
      width: 50%;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 768px) {
    .about .blob {
      width: 80%;
      margin: 0 auto;
    }
    .about .about_me {
      margin-top: 3.125rem;
    }
    .about .about_me {
      margin-top: 1.25rem;
    }
    .about .skills > div {
      padding: 0.313rem;
      margin: 0.313rem;
    }
  }