.contact .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .engage{
    padding-bottom: 70px;
    font-family: 'Dancing Script', cursive;
  }
  .engage h4{
    color: var(--main-color);
    padding-bottom: 10px;
    font-size: 23px;
    text-shadow: 0 0 2px var(--main-color);
  }
  .engage p {
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 4px #FFf;
  }
  .contact form {
    width: 70%;
    margin: 0 auto;
  }
  .contact form input,
  textarea {
    display: block;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 0;
    background-color: #414141;
    color: var(--second-color);
    outline: none;
    box-shadow: var(--box-shadow);
  }
  textarea {
    height: 200px;
  }
  ::placeholder {
    color: #d6c4c4;
    opacity: 1;
  }
  .contact form button {
    margin: 12px 0px 50px 0px;
    display: grid;
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--second-color);
    padding: 0.7rem 1rem;
    border-radius: 7px;
    border: #404040;
    transition: 0.3s;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
  }
  .contact form button:hover {
    background-color: var(--main-color);
    transition: 0.3s;
  }
  @media screen and (max-width: 1200px){
    .contact form {
      width: 80%;
    }
    .engage{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media screen and (max-width: 768px) {
    .contact .container {
      padding-top: 20px;
    }
    textarea {
      height: 120px;
    }
    .contact form button {
      letter-spacing: 0px;
    }
  }