.contact .container {
    padding-left: 0.938rem;
    padding-right: 0.938rem;
  }
  .engage{
    padding-bottom: 4.375rem;
  }
  .engage .engage-header{
    color: var(--main-color);
    padding-bottom: 0.625rem;
    font-size: 1.438rem;
    text-shadow: 0 0 2px var(--main-color);
  }
  .engage .engage-message {
    color: #fff;
    font-size: 1.25rem;
    text-shadow: 0 0 0.25rem #FFf;
  }
  .contact form {
    width: 70%;
    margin: 0 auto;
  }
  .contact form input,
  textarea {
    display: block;
    border: none;
    width: 100%;
    padding: 0.625rem;
    border-radius: 5px;
    margin: 0.625rem 0 0;
    background-color: #414141;
    color: var(--second-color);
    outline: none;
    box-shadow: var(--box-shadow);
  }
  textarea {
    height: 12.5rem;
  }
  ::placeholder {
    color: #d6c4c4;
    opacity: 1;
  }
  .contact form button {
    margin: 12px 0px 50px 0px;
    display: grid;
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--second-color);
    padding: 0.7rem 1rem;
    border-radius: 7px;
    border: #404040;
    transition: 0.3s;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
  }
  .contact form button:hover {
    background-color: var(--main-color);
    transition: 0.3s;
  }
  @media screen and (max-width: 1200px){
    .contact form {
      width: 80%;
    }
    .engage{
      padding-left: 0.938rem;
      padding-right: 0.938rem;
    }
  }
  @media screen and (max-width: 768px) {
    .contact .container {
      padding-top: 1.25rem;
    }
    .contact form {
      width: 100%;
    }
    .contact .section-title {
      padding-bottom: 1rem;
    }
    textarea {
      height: 7.5rem;
    }
    .contact form button {
      letter-spacing: 0;
    }
    .engage .engage-header{
      font-size: 1.1rem;
    }
    .engage .engage-message {
      font-size: 0.9rem;
    }
    .engage{
      padding-bottom: 2.5rem;
    }
  }