header .header_container {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: var(--third-bg-color);
  padding: 0 3.125rem;
  height: 6.25rem;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.stick {
  height: 3.75rem !important;
}
header .logo a {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--second-color);
  font-weight: normal;
  font-family: cursive;
  transition: 0.3s;
}
header .logo a:hover{
  color: var(--main-color);
  transition: 0.3s;
}
/************  Desktop nav bar  *************/
.desktop {
  width: 100%;
}
.desktop ul {
  display: flex;
}
.desktop ul li {
  list-style-type: none;
  padding: 0 0.625rem;
}
.desktop ul li a {
  font-size: 0.938rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--second-color);
  transition: 0.3s;
}
.desktop ul li a:hover {
  color: var(--main-color);
  transition: 0.3s;
}
.desktop ul li a.btn {
  width: fit-content;
  border: 1px solid var(--main-color);
  border-radius: 0.625rem;
  font-size: 1rem;
  background: linear-gradient(to right, var(--main-color) 50%, #2b2929 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  box-shadow: var(--box-shadow);
}
a:is(:link, :active, :visited).active {
  color: var(--main-color)
}

/********* Mobile nav bar  ********/
.toggle-menu {
  color: var(--main-color);
  font-size: 2.5rem;
  top: 1.75rem;
}
.mask{
  visibility: hidden;
  position: fixed;
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba(44, 43, 43, 0.6);
  top: 0;
  left: 0;
  z-index: 1;
}
.fa-times{
  color: #fff;
  font-size: 1.875rem;
  position: absolute;
  left: 90%;
  top: 1em;
  z-index: 2;
}
.mobile-ul {
  position: fixed;
  min-height: 100%;
  min-width: 18.75rem;
  background-color: var(--bg-color);
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 2;
  transform: translateX(-100%);
  transition: 0.5s;
  /* animation: bounceInLeft 0.5s; */
  list-style: none;
}
.show-nav-bar{
  transform: translateX(0);
}
.transparent{
  visibility: visible;
}
.mobile-nav ul li {
  padding: 2.5rem 0;
  border-bottom: 2px solid var(--main-color);
}
.mobile-nav .links{
  font-size: 1.125rem;
}
.mobile-nav ul li a{
  font-weight: 600;
}
.mobile-nav ul li a.btn {
  background: var(--bg-color);
  border: var(--bg-color);
  font-size: 1.125rem;
  box-shadow: none;
}
.logo-mobile a{
  font-size: 1.25rem;
}

/**** Header Responsive ****/
@media screen and (max-width: 768px) {
  header .header_container {
    top: 0;
    padding: 0.938rem 1.25rem;
  }
  header .header_container .logo a {
    display: none;
  }
  .desktop ul{
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  header .toggle-menu {
    display: none;
  }
  .logo-mobile{
    visibility: hidden;
  }
}
  /***** header stars / moon / svg  *****/
  .astra_container{
    padding-top: 3.75rem;
  }
  .astra{
    height: 0;
    z-index: 1;
    background-color: var(--third-bg-color);
  }
  .astra .fa-moon {
    color: #df732b62;
    position: absolute;
    font-size: 1.25rem;
    top: 20%;
    left: 30%;
  }
  .astra .fa-star {
    color: var(--second-color);
    font-size: 3px;
    position: absolute;
    top: 20%;
    right: 42%;
  }
  .astra #star {
    color: var(--second-color);
    font-size: 3px;
    position: absolute;
    top: 30%;
    left: 20%;
  }
  .wave {
    height: 12.5rem;
  }
  .sunset {
    display: inline-block;
  }
  svg path {
    stroke: none;
    fill: var(--third-bg-color);
  }
