header .container {
  padding-bottom: 70px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header .logo a {
  text-decoration: none;
  font-size: 20px;
  color: var(--second-color);
  font-weight: normal;
  font-family: cursive;
  transition: 0.3s;
}
header .logo a:hover{
  color: var(--main-color);
  transition: 0.3s;
}

/************ Desktop nav bar  **********/
.desktop {
  display: flex;
  align-items: center;
}
.desktop ul {
  display: flex;
  padding: 50px 0px;
}
.desktop ul li {
  list-style-type: none;
  padding: 0px 10px;
}
.desktop ul li a {
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--second-color);
  transition: 0.3s;
}
.desktop ul li a {
  padding: 15px !important;
}
.desktop ul li a:hover {
  color: var(--main-color);
  transition: 0.3s;
}
.desktop ul li a.btn {
  width: fit-content;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 7px 8px;
  font-size: 16px;
  background: linear-gradient(to right, var(--main-color) 50%, #2b2929 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

/********* Mobile nav bar  ********/
.toggle-menu {
  color: var(--main-color);
  font-size: 40px;
  top: 28px;
}
.mobile-nav ul {
  display: none;
  margin: 0;
  background-color: var(--thired-bg-color);
  position: fixed;
  left: 0;
  min-width: 200px;
  top: 65px;
  padding: 0;
  animation: bounceInLeft 0.5s;
}
.mobile-nav ul li:not(:last-child) {
  border-bottom: 2px solid var(--main-color);
}
.mobile-nav ul li {
  padding: 40px;
}
.mobile-nav ul li a {
  font-size: 18px;
  margin: 50px;
}
.mobile-nav ul li a.btn {
  background: var(--thired-bg-color);
  border: var(--thired-bg-color);
}
/***** header stars / moon / svg  *****/
.fa-moon {
  color: #df732b62;
  position: absolute;
  font-size: 20px;
  top: 40%;
  left: 30%;
}
.fa-star {
  color: var(--second-color);
  font-size: 3px;
  position: absolute;
  top: 50%;
  right: 42%;
}
#star {
  color: var(--second-color);
  font-size: 3px;
  position: absolute;
  top: 80%;
  left: 20%;
}
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
svg path {
  stroke: none;
  fill: var(--thired-bg-color);
}

/**** Header Responsive ****/
@media screen and (max-width: 768px) {
  header .container {
    top: 40px;
  }
  header .container::before {
    content: "";
    background-color: var(--thired-bg-color);
    width: 100%;
    height: 63px;
    position: fixed;
    top: 0;
    left: 0px;
  }
  header .container .logo a {
    display: none;
  }
  header .toggle-menu {
    position: fixed;
    left: 30px;
  }
  .fa-moon {
    font-size: 20px;
    top: 20%;
  }
  .fa-star {
    font-size: 3px;
    top: 10%;
  }
  #star {
    font-size: 3px;
    top: 60%;
  }
  svg {
    padding: 62px 0;
  }
  .desktop ul{
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  header .toggle-menu {
    display: none;
  }
}

/*=======bounceInRight the toggle menu when clicked========*/
@-webkit-keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0) scaleX(3);
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0) scaleX(1);
    transform: translate3d(25px, 0, 0) scaleX(1);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0) scaleX(0.98);
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0) scaleX(0.995);
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
