
  .landing .container {
    padding-bottom: 5rem;
  }
  .landing .left-box {
    width: 60%;
  }
  .landing .name-title {
    color: var(--second-color);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 1rem 0;
  }
  .landing .left-box .text h1 {
    color: var(--main-color);
    font-size: 1.063rem;
  }
  .landing .left-box .text p {
    color: var(--second-color);
    padding-bottom: 3.125rem;
    text-transform: uppercase;
  }
  .landing .right-box {
    width: 40%;
  }
  .landing .right-box img {
    width: 18.75rem;
    height: 18.75rem;
  }
  @media screen and (max-width: 991px){
    .landing .name-title{
      font-size: 1.875rem;
    }
  }
  @media screen and (max-width: 768px) {
    .landing .container{
      display: block;
    }
    .landing .left-box,.landing .right-box {
      width: 100%;
    }
    .landing .left-box .text h1 {
      font-size: 0.938rem;
    }
    .landing .name-title {
      font-size: 1.875rem;
      margin: 0.625rem 0;
    }
    .landing .left-box .text p {
      font-size: 0.938rem;
      padding-bottom: 3.125rem;
    }
    .landing .left-box .btn {
      padding: 0.75rem 0.625rem;
    }
    .landing .right-box {
      margin: 3.125rem auto;
    }
  }
  /***** header stars / moon / svg  *****/
.astra_container{
    padding-top: 3.75rem;
  }
  .astra{
    height: 0;
    z-index: 1;
    background-color: var(--third-bg-color);
  }
  .astra .fa-moon {
    color: #df732b62;
    position: absolute;
    font-size: 1.25rem;
    top: 20%;
    left: 30%;
  }
  .astra .fa-star {
    color: var(--second-color);
    font-size: 3px;
    position: absolute;
    top: 20%;
    right: 42%;
  }
  .astra #star {
    color: var(--second-color);
    font-size: 3px;
    position: absolute;
    top: 30%;
    left: 20%;
  }
  .wave {
    height: 12.5rem;
  }
  .sunset {
    display: inline-block;
  }
  svg path {
    stroke: none;
    fill: var(--third-bg-color);
  }
